<!-- <div class="main"> -->

	<!-- head section -->
		
	  <!-- <div class="head-container">
			<div class="sub-container">
			 <h1 routerLink="./components/create">Document Manager</h1>
			</div>		
		</div> -->
		<!-- <div class="nav">
			<a class="navbar-brand" href="#">
				<img routerLink="./components/docmain1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUaJJPf5KyKAwzBGO83fgSMq8-2LgXl3Whxg&usqp=CAU" width="30" height="30" class="d-inline-block align-top" alt="">
				Document Manager
			  </a>
		</div>
		<div class="buttons">
			
			<button routerLink="./components/create" id="option1"><b> &nbsp; ➕ New Document</b></button> &nbsp;
			<button routerLink="./components/list" id="option2"><b> 📖 Display List </b> </button>
		</div> -->

		
	<!-- main section -->
  <!-- <router-outlet></router-outlet>
	</div> -->

	
	<router-outlet></router-outlet>


`