<div id="login-page">
    <div class="login" id="leftpart">
      <h2 class="login-title">LOGIN</h2>
      <h4 class="notice">Please login to access the system</h4>
      <form class="form-login">
        <label for="email">E-mail</label>
        <div class="input-email">
          <i class="fas fa-envelope icon"></i>
          <input type="email" name="email" placeholder="Enter your e-mail" required>
        </div>
        <label for="password">Password</label>
        <div class="input-password">
          <i class="fas fa-lock icon"></i>
          <input type="password" name="password" placeholder="Enter your password" required>
        </div>
        <!-- <div class="checkbox">
          <label for="remember">
            <input type="checkbox" name="remember">
            Remember me
          </label>
        </div> -->
        <button type="submit" routerLink="/components/create"><i class="fas fa-door-open"></i> Sign-In</button> 
        <button type="submit" routerLink="/components/signup"> Register to Sign-In </button>
      </form>
        <a href="#">Forgot your password?</a>
      <div class="created">
        <!-- <p>Created by <a href="https://codepen.io/kelvinqueiroz/">Arun Karthik</a></p> -->
      </div>
    </div>
    <div class="background">
        <img id="regimage" src="https://img.freepik.com/free-vector/digital-designers-team-drawing-with-pen-computer-monitor_74855-10586.jpg?size=626&ext=jpg&ga=GA1.2.1678189651.1651481731" alt="">
      <!-- <h1>Image with low opacity goes here !</h1> -->
    </div>
  </div>